@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    height: 100vh;
    font-family: Roboto, sans-serif;
}

.header .container, .footer .container, .content .card{
    max-width: 1440px;
    padding: 16px 200px;
}

.font1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.font2 {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.font3, a {
    font-size: 18px;
    color: rgb(146, 152, 161);
    text-decoration: none;
}

.font4 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.header, .footer {
    background: #1F2937;
    color: #F9FAF8;
}

button {
    flex-grow: 0;
    border: 0px solid #3882F6;
    border-radius: 10px;
    background: #3882F6;
    padding: 8px 32px;
    font-size: 18px;
    font-weight: bold;
    color: #E5E7EB;
}

.button-white-border {
    border: 2px solid #E5E7EB;
}